@model IEnumerable<IA.Models.project>

@{
    ViewBag.Title = "getDeliveredProjects";
    Layout = "~/Views/_Admin.cshtml";
}

<h2>Delivered Projects</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
             
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteProject", new { id = item.Id })
        </td>
    </tr>
}

</table>
